*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

                                                                                        /*REGOLE DI DEBUG*/
                                                                                        .header-logo{
                                                                                            background-color: rgb(255, 255, 255);
                                                                                        }
                                                                                        .link-header{
                                                                                            background-color: rgb(255, 255, 255);
                                                                                        }
                                                                                        .first-section-main{
                                                                                            background-color:rgb(180,208 ,231 ) ;
                                                                                        }
                                                                                    
                                                                                        
                                                                                        .container-sponsor{
                                                                                            background-color: rgb(245, 245, 245);
                                                                                        }
                                                                                        .sponsor-square{
                                                                                            background-color: red;
                                                                                        }
                                                                                        .container-eight-section{
                                                                                            background-color: rgb(180,208 ,231 );
                                                                                        }
                                                                                        .content-eight-section{
                                                                                            background-color:black;
                                                                                        }
                                                                                        .content-ninth-section{
                                                                                            background-color: blueviolet;
                                                                                        }
                                                                                        .container-tenth-section{
                                                                                            background-color: black;
                                                                                        }
                                                                                        .content-tenth-section{
                                                                                            background-color: red;
                                                                                        }
                                                                                        .columns-footer{
                                                                                            background-color: bisque;
                                                                                            border: 1px solid white;
                                                                                        }
                                                                                        
                                                                                        
                                                                                        
                                                                                     
                                                                                        

/*INIZIO HEADER*/

header{
    height: 60px;
    background-color: white;
}
.flex-header-container{
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 999;
}           

.header-logo{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.link-header{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
} 
ul li{
  list-style: none;
  color: grey;
  float: left;
  padding-left: 50px;
}
.button-small{
    background-color: rgb(1,97 ,255 );
    border: none;
    margin-left: 20px;
    width: 60px;
    height: 30px;
    color: white;
}

/*FINE HEADER*/

/*INIZIO MAIN*/
 /*inizio primo blocco main*/

.first-section-main{
    width: 100%;
    height: 800px;
    padding-top: 80px;
}
.spacewhite{
    width: 100%;
    background-color: white;
   
}

.block-section{
    margin: auto;
    width: 1100px;
    height: 700px;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.column-sx{
    width:30%;
    display: flex;
    flex-direction: column;
    
}

.column-sx button{
    background-color: rgb(1,97 ,255 );
    border: none;
    height: 40px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
button a {
    color: white;
    text-decoration: none;
}
.arrow{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.column-dx{
    width: 70%; 
    
}
.first-section-main h1{
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 0;
}
.column-dx img{
    width: 800px;

}

/*fine primo blocco main*/

/*Inizio secondo blocco*/

.second-section-column-main{
    width: 1000px;
    height: 1100px;
    margin: auto;
    margin-top: 30px; 
    justify-content: space-between;
}
.second-section-column-main h1{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 60px;
}
.circle{
    margin-right: 40px;
}
#circleborder{
    color: black;
}
.column{
    width: calc(85% / 3);
    height:900px;
    border: 1px solid lightgray;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.user{
padding: 20px;
border-bottom: 1px solid lightgray;
width: 100%;
text-align: center;
}
.textcolumn{
    line-height: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
}
button {
    background-color: rgb(1,97 ,255 );
    border: none;
    height: 40px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 30px;
   
}
#interline{
    line-height: 40px;
}
.interline{
    line-height: 40px;
}
.gray{
    color: gray;
   
}
.flexcontainersecond{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*Fine Secondo blocco*/
/*Inizio Terzo Blocco*/

.container-third-section{
    width: 1000px;
    height: 300px;
    border: 1px solid lightgray;
    margin: auto;
    margin-top: 30px;
} 
.flexcont{
display: flex;
flex-direction: row-reverse;

}   

.titlesection{
    text-align: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid lightgray;
    padding-top: 15px;
}.column-sxterza{
    width: 60%;
    margin-left: 20px;
    margin-top: 30px;
    line-height: 50px;
}
.column-dxterza{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

}



/*Fine Terzo Blocco*/
/*Inizio quarto blocco*/

.container-fourth-section{
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}
.column-sxquarta{
    width: 70%;
}
.column-dxquarta{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;

}
.column-dxquarta h3{
    margin-bottom: 30px;
}
.column-sxquarta img{
    width: 650px;
}
.buttonwhite{
    background-color: white;
    border: 1px solid black;
}
.buttonwhite a{
    color: black;
}


/*Fine Quarto blocco*/
/*Inizio Quinto  blocco*/
.container-fifth-section{
    width: 1000px;
    height: 1200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;


}
.cells{
    width: calc(80% / 3);
    height: 400px;
    margin-left: 40px;
    margin-top: 10px;

}
.cells img{
    width: 100%;
    margin-bottom: 20px;
}
.cells h3{
    margin-bottom: 30px;
}

/*fine Quinto blocco*/
/*Inizio sesto blocco*/

.container-sixth-section{
    width: 950px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    
}

.container-sixth-section h1{
    margin-bottom: 70px;
}

/*Fine sesto blocco*/
/*Inizio settimo blocco sponsor*/

.container-sponsor{
    width: 100%;
    height: 600px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
   
    
}
.part-sponsor{
    width: calc(100% / 3); 
    
    display: flex;
    flex-wrap: wrap;
}
.sponsor-square{
 width: 50%;
 height:50%;
 border: 1px solid black;
}


/*Fine settimo blocco*/
/* Inizio ottavo blocco*/
.container-eight-section{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}
.content-eight-section{
    width: 1300px;
    height: 200px;
    margin: auto;
}
/*Fine Ottavo blocco*/
/*Inizio nono blocco*/

.content-ninth-section{
    width: 1300px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

/*Fine nono blocco*/
/*inizio decimo blocco FOOTER*/

.container-tenth-section{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.content-tenth-section{
    width: 1400px;
    height: 450px;
    margin: auto;
    display: flex;
}
.columns-footer{
 width: calc(100% / 5);
 height: 450px;
}
/*Fine footer*/
/*colori square*/
.square1{
    background-color: rgb(162, 211, 155);
    border: 20px solid rgb(209, 233, 205);

}
.square2{
    background-color: rgb(97,8 , 43);
}
.square3{
    background-color: rgb(0, 146, 206);
}
.square4{
    background-color: rgb(255, 28, 28);
}
.square5{
    background-color: rgb(201, 4, 30);
}
.square6{
    background-color: rgb(180, 208, 231);
}
.square7{
    background-color: rgb(13, 36, 129);
}
.square8{
    background-color: rgb(254, 215, 48);
}
.square1 img{
    width: 150px;
    height: 150px;
    padding-top: 120px;
}